##########################
# KEDRO PROJECT

# ignore all local configuration
conf/local/**

# ignore potentially sensitive credentials files
conf/**/*credentials*

# ignore everything in the following folders
data/**

# except their sub-folders
!data/**/

# Specific files to ignore in data
data/01_raw/Base_clientes_Monopoly.csv

# ignore kedro-viz metadata
.viz

# ignore file-based logs
*.log

##########################
# Common files

# IntelliJ
.idea/
*.iml
out/
.idea_modules/

### macOS
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

# Vim
*~
.*.swo
.*.swp

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# C extensions
*.so

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
MANIFEST

# Unit test / coverage reports
.tox/
.coverage
.cache
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.venv/
env/
venv/
ENV/

# Environments
.env

# Logs
logs/

# IDE configurations
.idea/
.vscode/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
